@import "styles/utils/variables";
@import "styles/utils/mixins";

.Card {
  cursor: pointer;
  max-width: 270px;
  width: 100%;
  background: #fff;
  border: 1px $c-grey solid;
  border-radius: 20px;
  img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .Card__info {
    @include FlexStyles(center, space-between);
    padding: 15px;
    .Card__title {
      color: $c-primary;
      font-weight: 600;
    }
    .Card__price {
      color: $c-green;
      font-weight: 600;
    }
    @media (max-width: 468px) {
      padding: 10px 12px;
    }
  }
  @include HoverTransitionStyles;
  &:hover {
    border-color: #d3d3d3;
  }
}