@import "styles/utils/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $c-primary;
  user-select: none;
  button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  @media (max-width: 468px) {
    font-size: 13px;
  }
}