@mixin FlexStyles($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin HoverTransitionStyles {
  -webkit-transition: all 200ms cubic-bezier(0.08,0.52,0.52,1);
  -o-transition: all 200ms cubic-bezier(0.08,0.52,0.52,1);
  transition: all 200ms cubic-bezier(0.08,0.52,0.52,1);
}

@mixin BoxShadowFocusStyles($color) {
  box-shadow: 0 0 0 2px $color;
  -webkit-box-shadow: 0 0 0 2px $color;
}

@mixin PressedTransformStyles {
  transform: scale(0.95);
}

@mixin BaseContainerStyles {
  padding: 0px 200px!important;
  @media (max-width: 992px) {
    padding: 0px 100px!important;
  }
  @media (max-width: 768px) {
    padding: 0px 50px!important;
  }
  @media (max-width: 468px) {
    padding: 0px 20px!important;
  }
}

@mixin TitleStyles {
  line-height: 132%;
  font-size: 30px;
  @media (max-width: 468px) {
    font-size: 22px;
    line-height: 130%;
  }
}

@mixin DescriptionStyles {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 22px;
  color: #737473;
  @media (max-width: 468px) {
    font-size: 13px;
    line-height: 18px;
    margin-top: 7px;
  }
}

@mixin SectionStyles {
  padding: 100px 0px;
  @media (max-width: 992px) {
    padding: 70px 0px!important;
  }
  @media (max-width: 768px) {
    padding: 50px 0px!important;
  }
  @media (max-width: 468px) {
    padding: 35px 0px!important;
  }
}