$c-grey: #E9E9E9;
$c-secondary: #737473;
$c-green: #2F9752;
$c-primary: #181D19;
$c-white: #fff;
$c-emerald: #F6FBF8;
$c-silver: #FBFBFB;
$c-dark: #121814;
$c-background-gradient: linear-gradient(262.43deg, #F6FBF8 0%, #FFFFFF 100%);